<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/aboutLayout">

<head>
  <title>페크페크 - 공지사항</title>
</head>

<th:block layout:fragment="css">
  <link th:href="@{/css/about/notice.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript" th:src="@{/js/about/notice.js}"></script>
</th:block>

<div layout:fragment="content" id="noticeContainer">

  <div class="noticeOneBox">
    <div class="noticeTitleBox" id="noticeBox" style="display: flex; cursor: pointer;" onclick="showNoticeContent()">
      <div class="noticeTitle">여기는 제목입니당</div>
      <img class="arrow" src="/images/underArrow.png" style="width: 20px; transition: all ease 1s;">
    </div>
    <div class="noticeContent"><span>여기는 내용이지로오오오옹</span></div>
  </div>

  <div class="noticeOneBox" onclick="showNoticeContent()">
    <div class="noticeTitleBox" id="noticeBox" style="display: flex; cursor: pointer;">
      <div class="noticeTitle">여기는 제목입니당</div>
      <img class="arrow" src="/images/underArrow.png" style="width: 20px; transition: all ease 1s;">
    </div>
    <div class="noticeContent">여기는 내용이지로오오오옹</div>
  </div>

</div>
</html>